@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'Montserrat';
    color: var(--font-color);
    /* colors */
    --body-color: #FBFEFC;
    --font-color: #6A7C70;
    --secound-color: #43CB75;
    --secound-color-light: #57E089;
    --title-color: #000;
    /* fonts */
    --font-btn: #fff;
    --normal-font-size: 1.5rem;
    --large-font-size: 2.5rem;
    --header-height: 4.8rem;
    --h1-font-size: 3rem;
    --small-font-size: 1.3rem;
}
/* Media queries */
@media screen and (min-width: 968px) {
        :root {
            --body-color: red;
        }
    }
body {
    font-size: var(--normal-font-size);

    background: var(--body-color);
    overflow-x:  hidden;
    /* overflow-y: hidden; */

}
main {
    position: relative;
}
section {
    padding: 3.2rem 0 6.4rem;
}
h3,h2 {
    text-transform: uppercase;
    letter-spacing: .1rem;
}
p {
    font-size: 1.6rem;
    margin-top: 1.8rem;
}
button {
    border: none;
    border-radius: .8rem;
}
button i {
    font-size: 3rem;
    margin-left: 1.5rem;
}
button span {
    font-size: 1.7rem;
    font-weight: 100;
}
li {
    list-style: none;
}
a {
    color: var(--font-color);
    text-decoration: none;
    font-size: var(--normal-font-size);
}
i {
    transition: color 0s;
}
a:active i,i:active, i:hover {
    color: var(--secound-color-light);
    transition: color .5s ease-in-out;
}
figure {
    text-align: center;
}
img {
    object-fit: cover;
}
.scroll-top {
    position: fixed;
    bottom: 8rem;
    right: 1.5rem;
    display: none;
}
.scroll-top i {
    padding: .5rem var(--small-font-size) .5rem 0;
    color: var(--font-btn);
}
/*  Reusable classes*/
.section--title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 400;
}
.section--subtitle{
    display: block;
    font-size: var(--small-font-size);
    font-family: Poppins;
    margin-bottom: 4.8rem;
    font-weight: 200;
    text-transform: lowercase;
}
.section--subtitle,
.section--title {
    text-align: center;
}
.container {
    max-width: 76.8rem;
    padding-left:  1.5rem;
}
.btn-1 {
    padding: 1.8rem 1.2rem .8rem 1.5rem;
    width: 15rem;
    background-color: var(--secound-color);
    color: var(--font-btn);
    display: flex;
    align-items: center;
}
.btn-2 {
    background-color: var(--secound-color);
}
/* header */
.header {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: var(--body-color);
    padding: 2rem 2.4rem 0.5rem ;
    border-top: 3px solid #E2E9E5;
}
.header .close-btn {
    position: absolute;
    right: .5rem;
    top: 0;
    font-size: 3rem;
}
.header .pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.header .pages .link a {
    height: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 1s ease-in-out;
}
/*  */
#navbar.desactive .pages, #navbar.desactive .close-btn {
    display: none;
} 
#navbar .pages {
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.header .navbar .actions {
    display: none;
}
.header .navbar.desactive .actions {
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
}
.header .logo {
    position: absolute;
    left: 2rem;
    font-size: 1.8rem;
}
.header .actions i {
    margin-left: 1rem;
}
.header .pages .link:active a {
    color: var(--secound-color-light);
}
.header .pages .link a i {
    font-size: 3rem;
}
.header .pages .link  .projects .open{
    display: none;
    transition: all 1.5s ease;
}
.header .pages .link  .projects:active .close {
    display: none;
    transition: all 2.5s ease;
}
.header .pages .link  .projects:active .open {
    display: block;
    transition: all 0s ease;
}
/* home-section*/
.home {
    width: 100%;
    display: flex;
}
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
}
.social-media i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: color .5s ease-in-out;
    padding-left: 1rem;
}
.social-media i:active,
.social-media i:hover {
    color: var(--secound-color-light);
    transition: color 0s ease-in-out;
}
.bio {
    display: flex;
    flex-wrap: wrap;
}
.bio-picture {
    width: 20rem;
    position: relative;
    margin-left: 10vw;
    margin-bottom: 2.5rem;
}
.bio-picture-profile {
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top:2rem;
    left: 14vw;
}
.bio-description h3{
    font-size: 1.65rem;
}
.bio-description h2{
    font-size: 3.3rem;
}
.bio-description p {
    max-width: 31rem;
    line-height: 2rem;
    margin-bottom: 4.5rem;
}
.bio-description mark {
    color: var(--secound-color-light);
    background: none;
}
/* about me */
.about-me--description {
    text-align: justify;
    max-width: 88%;
    margin: 2rem auto;
}
.about-me--info {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.about-me--info .topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-me--info .topic .topic-title {
    font-size: var(--large-font-size);
    color: var(--title-color);
}
.about-me .btn-1 {
    margin: 1rem auto;
}
.about-me .btn-1 a {
    color: var(--font-btn);
    display: flex;
    align-items: center;
}
/* skills  */
.skills {
    position: relative;
}
.skill-name {
    font-family: Poppins;
    font-size: 1.8rem;
    text-transform: capitalize;
    /* text-decoration: underline; */
    margin-bottom: 5rem;
    position: relative;
}
.skill-name::after {
    content: " ";
    width: 9rem;
    height: .5rem;
    background-color: var(--font-color);
    position: absolute;
    bottom: 0;
    left: 1.5rem;
}
.skill-cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-type: 2.4rem;
    gap: 2rem;
    margin-bottom: 2rem;
}
.skill-cards .card {
    border: 2px solid var(--title-color);
    min-width: 20rem;
    height: 22rem;
    scroll-snap-align: start;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0;
}
.skill-cards .card:hover,
.skill-cards .card:active {
    background-color: var(--font-color);
    color: var(--body-color);
    border: var(--font-color);
    transition: all .5s ease-in-out;

}
.skill-cards .card:hover figure img,
.skill-cards .card:active figure img {
    filter: invert(100%) saturate(0%) hue-rotate(100deg);
}
.skill-cards .card .card-description {
    padding: 1rem 1rem 0;
    text-align: center;
}
/* modal */
.skills-modal {
    height: 100vh;
    backdrop-filter: blur(4px) sepia(10%);
    width: 100vw;
    /* background-color: transparent; */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    /* background-color: #43CB75; */
    display: none;
}
.skills-modal i {
    position: absolute;
    top:1rem;
    right: 2rem;
    z-index: 15;
    font-size: var(--h1-font-size);
}
.skills-modal .descriptions{
    height: 100%;
    width: 100vw;
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    border-radius: 2rem;
}
